@media (max-width:1000px){
    .user{
        right: 10vw;
        top: 30vh;
        height: 70vh;
        animation: new_user 3s linear infinite;
    }
    .paragraph_desc{
        font-size: 15px;
    }
}
@media (max-width:800px){
    .user{
        right: 0vw;
        top: 30vh;
        height: 70vh;
        animation: new_user 3s linear infinite;
    }
    .paragraph_desc{
        font-size: 15px;
    }
}
@media (max-width:500px){
    .content{
        overflow: hidden;
    }
    /***********header**************/
    header{
        background: #f2dbf7;
    }
    .name{
        color: rgb(120, 18, 141);
        font-size: 6.5vw;
    }
    /****lis bare***/
    #side_list{
        visibility: visible;
        top: 20px;
        right: 20px;
        width: 4vh;
        transition: 0.4s ease;
    }
    .list_int{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #a80590b9;
        border-radius: 0vw 5vw 5vw 0;
    }
    .list_ext{
        height: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .list a{
        font-size: 7vw;
    }
    .list{
        position: absolute;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        transition: 0.4s ease;
        background-color: #00000058;
        backdrop-filter: blur(10px);
    }
    .list.mobile-menu{
        visibility: visible;
    }
    /*****************home***************/
    .hello{
        font-size: 5vw;
    }
    .Im{
        font-size: 9vw;
    }
    .Im span{
        font-size: 9vw;
    }
    .paragraph_desc{
        font-size: 4vw;
    }
    .buttons{
        margin-top: 30px;
    }
    .buttons a{
        background-color: rgb(120, 18, 141);
    }
    .media_logos{
        margin: 30px 0;
        display: flex;
        justify-content: center;
    }
    .media_logos img{
        width: 7vw;
        margin: 1vw;
    }
    /************logo*************/
    .user{
        right: 20vw;
        top: 20vh;
        height: 30vh;
        animation: new_user 3s linear infinite;
    }
    .circle1,.circle2{
        visibility: hidden;
    }
    .color_bg{
        position: absolute;
        width: 100vw;
        top: 20vh;
        right: 0;
        animation: stop 2s linear infinite;
    
    }
    .new_desc{
        margin-left: 0;
        width: 100vw;
        height: 50vh;
        padding: 20%;
        background-color: #fff;
        animation: new_desc 3s linear infinite;
    }
    .discription{
        padding: 0;
        justify-content: end;
    }
    /************servesis*****************/
    .section_title p{
        font-size: 8vw;
        margin: 8vh 0;
    }
    .serveces{
        height: 200vh;
        justify-content: space-evenly;
    }
    /****cards***/
    .serveces .cards{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #card{
        width: 50vw;
        height: 40vh;
        margin-bottom: 5vh;
    }
    #card img{
        height: 50%;
    }
    #card .disc_card{
        height: 45%;
    }
    .card_title{
        font-size: 130%;
    }
    .card_disc{
        font-size: 90%;
    }
    .card_panel1,.card_panel2,.card_panel3{
        width: 50vw;
        height: 40vh;
        left: 25%;
    }
    .card_panel1{
        top: 156%;
    }
    .card_panel2{
        top: 201%;
    }
    .card_panel3{
        top: 248%;
    }
    #skils_card{
        position: absolute;
        background-color: #c836e1;
        width: 49vw;
        height: 39vh;
        border-radius: 2vw;
        left: 25.5%;
    }
    .skils_card1{
        top: 156vh;
    }
    .skils_card2{
        top: 202%;
    }
    .skils_card3{
        top: 248%;
    }
    .title_skils{
        font-size: 2.5vh;    
    }
    .group_skils_title{
        font-size: 2vh;
    }
    .group_skils_list{
        font-size: 1.7vh;
    }
    /*************************projects*****************/
    .int_box{
        position: relative;
        background-color: #efeef0;
        width: 100%;
        height: 1%;
        border-radius: 1vw;
        z-index: 2;
    }
    .ext_box::after{
        background-image: linear-gradient(90deg,transparent, transparent);
    }
    .ext_box::before{
        background-image: linear-gradient(90deg,transparent, transparent);
    }
    #title_pro{
        font-size: 3vh;
    }
    .title_pro_section{
        font-size: 2.5vh;
    }
    .pro_cards{
        width: 100%;
        height: 30vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .pro_card{
        overflow: hidden;
        width: 80%;
        margin: 2%;
    }
    .details .title{
        font-size: 2vh;
    }
    .details .more{
        font-size: 2vh;
    }
    .view_more_yout p{
        font-size: 2vh;
    }
    .view_more_yout img{
        width: 2vh;
    }
    /***************contact*****************************/
    .cards{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .card{
        width: 50vw;
        height: 37vh;
    }
    .card p{
        font-size: 1.7vh;
    }
    .card .title{
        font-size: 3vh;
    }
    /************************footer****************/
    footer p{
        font-size: 2vh;
    }
    footer p a{
        font-size: 2vh;
    }
}