*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    border-radius: 25px;
    background-color: #f2dbf7;
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background-image: linear-gradient( 180deg, #f238ef,rgb(120, 18, 141));
}
/***************************************header***********/
header{
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 ;
    background-image: linear-gradient( to right, #f238ef,rgb(120, 18, 141));
}
.name{
    color: #fff;
    font-size: 2.5vw;
    font-weight: 900;
    font-family: cursive;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
#side_list{
    visibility: hidden;
    position: absolute;
}
.list_ext{
    width: 130%;
    display: flex;
    justify-content: space-around;
}
.list_int a{
    color: #fff;
    font-size: 1.5vw;
    font-weight: 900;
    font-family: cursive;
    position: relative;/****lezem bech kol wa7da taba3 mte3ha*/
}
.list_int a::before{
    content: '';
    position: absolute;
    background-image: linear-gradient( to right, #ff00fb,#fe52fb,#ff94fd,#ffe4ff);
    height: 3px;
    width: 0;
    top: 100%;
    left: 50%;
    transition: 0.3s ease;
}
.list_int a:hover::before{
    width: 100%;
    left: 0;
}
/***************************************home***************/
.personel_discription{
    background: #f2dbf7;
    height: 100vh;
    display: flex;
    z-index: 1;
}
/*************desc side********/
.discription{
    height: 100%;
    width: 50%;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
}
.hello{
    font-size: 2vw;
    font-family: cursive;
    color: #505251;
}
.Im{
    font-size: 5vw;
    font-family: cursive;
    font-weight: 900;
    color: #464947;
}
.Im span{
    font-size: 5vw;
    font-weight: 900;
    font-family: cursive;
    color: rgb(120, 18, 141);
    margin-left: 4%;
}
.paragraph_desc{
    font-size: 18px;
    font-family: cursive;
    color: #505251;
    margin-top: 1%;
}
.buttons{
    margin: 8vh 0 0 0;
    display: flex;
    justify-content: space-around;
    padding: 0 9vw;
    
}
.buttons a{
    padding: 1vw;
    margin: 1vw;
    text-align: center;
    width: 100%;
    background-color: #505251;
    color: #fff;
    border-radius: 2vw;
    transition: 0.4s ease;
    z-index: 999;
}
.buttons a:hover{
    background-color: rgb(120, 18, 141);
    transform: scale(1.1);
}
.media_logos{
    margin-top: 10vh;
}
.media_logos img{
    width: 3vw;
    margin: .5vw;
    transition: 0.3s ease;
}
.media_logos img:hover{
    transform: translate(0 ,-1vh);
}
/*************logo side*************/
.logos{
    height: 100%;
    width: 50%;
}
.user{
    position: absolute;
    height: 90%;
    bottom: 0%;
    right: 0;
    /* transform: rotateY(180deg); */
    z-index: 998;
    /***animatio**/
    animation: animateUser 4s linear infinite;
}
/*****activate animation*****/
@keyframes animateUser{
    50%{
        right: 20px;
    }
}
.color_bg{
    position: absolute;
    width: 58.5%;
    bottom: 0;
    right: 0;
    animation: bg_color 2s linear infinite;

}
@keyframes bg_color{
    50%{
        width: 59%;
    }
}
.circle1{
    z-index: 2;
    position: absolute;
    left: -10%;
    bottom: 15%;
    width: 55vh;
    height: 55vh;
    border-radius: 50%;
    background-image: linear-gradient( to left, #f04fee,rgb(120, 18, 141));
    animation: circle1 3s linear infinite;

}
@keyframes circle1{
    50%{
        width: 57vh;
        height: 57vh;
    }
}
.circle2{
    z-index: 0;
    position: absolute;
    left: 40%;
    top: 15%;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background-image: linear-gradient( to right, #f238ef,rgb(120, 18, 141));
    animation: circle2 3s linear infinite;

}
@keyframes circle2{
    50%{
        left: 41%;
        top: 11%;
    }
}
/************************************serveses********************/
.serveces{
    background-color: #fff;
    height: 100vh;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section_title p{
    margin: 0 0.5vw;
    font-size: 4vw;
    font-family: cursive;
    font-weight: 900;
    color: #c836e1;
    animation-name: test;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.section_title .one{
    animation-delay: 0.1s;
}
.section_title .tow{
    animation-delay: 0.2s;
}
.section_title .three{
    animation-delay: 0.3s;
}
.section_title .five{
    animation-delay: 0.4s;
}
.section_title .six{
    animation-delay: 0.5s;
}
.section_title .seven{
    animation-delay: 0.6s;
}
.section_title .eght{
    animation-delay: 0.7s;
}
.section_title .nine{
    animation-delay: 0.8s;
}
@keyframes test{
    to{
        color: #f1aaec;
        transform: translateY(-10px);
    }
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.card1,.card2,.card3{
    transform-origin: 0 100%;
}
.card_panel1,.card_panel2,.card_panel3{
    position: absolute;
    width: 20vw;
    height: 49vh;
    top: 139%;
    z-index: 3;
}
.card_panel1{
    left: 17%;
}
.card_panel1:hover+.card1{
    transform: rotate(-90deg);
}
.card_panel2{
    left: 40%;
}
.card_panel2:hover+.card2{
    transform: rotate(-90deg)
}
.card_panel3{
    left: 63%;
}
.card_panel3:hover+.card3{
    transform: rotate(-90deg);
}
#card{
    width: 19vw;
    height: 50vh;
    background-color: #fff;
    border-radius: 2vw;
    box-shadow: 0.5vw 1vw 1vw 0px #464947bb;
    margin: 2vw;
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    z-index: 2;
}
.card_panel1:hover +#card1{
    
    transform: rotate(1turn);
}
#card img{
    
    height: 10vw;
}
#card .disc_card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    padding: 0 1vw;
}
.card_title{
    font-family: cursive;
    font-size: 2vw;
    font-weight: 900;
    color: #c836e1;
    margin-bottom: 1vh;
}
.card_disc{
    color: #505251;
    font-size: 1.1vw;
    text-align: center;
}
/******skils*************/
#skils_card{
    position: absolute;
    background-color: #c836e1;
    width: 18vw;
    height: 48vh;
    border-radius: 2vw;
}
.skils_card1{
    top: 138.5vh;
    left: 17.5vw;
}
.skils_card2{
    top: 138.5vh;
    left: 40.5vw;
}
.skils_card3{
    top: 138.5vh;
    left: 63.5vw;
}
.title_skils{
    font-size: 2vw;
    font-family: cursive;
    color: #fff;
    font-weight: 900;
    text-align: center;

}
.group_skils_title{
    font-size: 1.2vw;
    font-family: cursive;
    color: #fff;
    font-weight: 900;
    margin: 1vh;
    list-style: none;
}
.group_skils_list{
    font-size: 1vw;
    font-family: cursive;
    color: #fff;
    font-weight: 900;
    padding: 0 1vw ;
}
/***********************************projects*****************************/
.projects{
    background-color: #f2dbf7;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*************script projects*********/
.panel_projects{
    margin: 2% 0;
}
.panel_projects p{
    font-size: 2vw;
    font-family: cursive;
    color: #c836e1;
    font-weight: 900;
}
.ext_box{
    position: relative;
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.5%;
    border-radius: 1vw;
}
.int_box{
    position: relative;
    background-color: #efeef0;
    width: 100%;
    height: 1%;
    border-radius: 1vw;
    z-index: 2;
}
.ext_box::after{
    z-index: 1;
    content: '';
    top: -40%;
    left: 30%;
    position: absolute;
    background-image: linear-gradient(90deg,#e9baf4, #e013da);
    height: 70vw;
    width: 15vw;
    border-radius: 50%;
    transform-origin: 100% 100%;
    animation: border_animation 6s linear infinite;
    
}
.ext_box::before{
    z-index: 1;
    content: '';
    top: -40%;
    left: 30%;
    position: absolute;
    background-image: linear-gradient(90deg,#e9baf4, #e013da);
    height: 70vw;
    width: 15vw;
    border-radius: 50%;
    transform-origin: 100% 100%;
    animation: border_animation 6s linear infinite;
    animation-delay: -3s;
    
}

@keyframes border_animation{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
/*******projects card***********/
.title_pro_section{
    font-size: 2vw;
    font-weight: 900;
    font-family: cursive;
    color: #5f5f60;
    margin-top: 5vh;
}
.pro_cards{
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.pro_card{
    background-color: #fff;
    border-radius: 1vw;
    overflow: hidden;
    width: calc(100%/5);
    margin: 1%;
    transition: 0.4s ease;
    box-shadow: 0.2vw 0.2vw 9px 0px #c836e1;;
}
.pro_card:hover{
    transform: scale(1.1);
}
.pro_card img{
    width: 100%;
    height: 70%;
}
.details{
    display: flex;
    justify-content: space-around;
    height: 30%;
    padding: 2%;
}
.details .title{
    font-size: 1vw;
    font-family: cursive;
}
.details .more{
    color: #c836e1;
    font-size: 1vw;
    font-family: cursive;
    font-weight: 700;
}
/*********desktop***********/
.desk_projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*********web***************/
.web_projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color:#464947 transparent;
}
/*********mobile***************/
.mobile_projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*************editingt projects*********/
.view_more_yout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-color: #918992;
    margin-bottom: 3vh;
    padding: 1vw;
    transition: 0.4s ease;
    
}
:root{
    --coleur:#777676;
}
.view_more_yout:hover {
    transform: scale(1.1);
    border-color: #c836e1;
    box-shadow: rgb(200 54 225) 0px 0px 8px 3px;
    --coleur:#c836e1;
}
.view_more_yout p{
    font-size: 1.2vw;
    color: var(--coleur);
    font-family: cursive;
    font-weight: 900;
}
.view_more_yout img{
    width: 2vw;
}
/*****amv*************/
.AMV{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: transparent transparent #464947;
}
/*******hacking********/
.hacking{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/**************************************contact***************************/
.contact{
    height: 90vh;
    background-color: #fff;padding-top: 15vh;
}
.cards{
    height: 70%;
}
.card{
    background-color: #fff;
    margin: 10% 3% 3% 0;
    width: 17vw;
    height: 45vh;
    border-radius: 2vw;
    box-shadow: 0.5vw 1vw 1vw 0px #464947bb;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s ease;
}
.card img{
    height: 70%;
    width: 80%;
}
.card p{
    height: 30%;
    font-size: 1.2vw;
    font-family: cursive;
    color: #484848;
}
.card .title{
    height: 30%;
    font-size: 1.3vw;
    font-family: cursive;
    color: #c836e1;
    font-weight: 900;
}
.card:hover{
    transform: scale(1.1);
}
/*******************************************footer***********************/
footer{
    height: 10vh;
    background-image: linear-gradient( to right, #f238ef,rgb(120, 18, 141));
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size: 1.2vw;
    font-family: cursive;
    color: #fff;
}
footer p a{
    font-size: 1.2vw;
    font-family: cursive;
    color: #303030;
}
footer .media_logos{
    margin: 0;
    padding: 0;
}
footer .media_logos img{
    margin: .5vw;
    transition: 0.3s ease;
}
footer .media_logos img:hover{
    transform: translate(0 ,-1vh);
}
